*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
body{
    background-color: #f1f1f1;
}
input, textarea{
    background-color: #f1f1f1;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    color: #383838;
    font-weight: 600;
}
label{
    color:#112827;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
button{
    user-select: none;

}
footer li{
    margin: 0.5rem 0.2rem;

}